node_modules
dist
build

.env
.env.*
!.env.example

.git
.github

logs
*.log
coverage
*.lcov

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.nest
tmp
*.tsbuildinfo

src/generated/prisma

.agents/skills
.claude/skills
.windsurf/skills
skills-lock.json

Dockerfile
.dockerignore
